*{

margin:0;
padding:0;
box-sizing:border-box;

}
body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:hsl(180, 91%, 46%);

}
.animation{

position:relative;

width:700px;

height:450px;

overflow:hidden;

}
/* PAPER DOCUMENT */
.document{
position:absolute;
left:100px;
top:220px;
font-size:90px;
animation:paper 6s infinite;
}
@keyframes paper{
0%{

transform:translateX(0) rotate(0deg);

opacity:1;

}
40%{
transform:translateX(180px) rotate(360deg);

opacity:1;

}

50%{
opacity:0;

transform:scale(0);
}

100%{

opacity:0;

}

}
/* ROCKET */
.rocket{
position:absolute;
left:300px;
top:180px;
font-size:70px;
opacity:0;
animation:rocketFly 6s infinite;

}
@keyframes rocketFly{
0%,50%{
opacity:0;
transform:translate(0,0);

}
60%{
opacity:1;
}

100%{
transform:translate(250px,-150px);
opacity:1;
}

}
/* PAPER BUNDLE */
.bundle{
position:absolute;
left:-30px;
top:50px;

width:130px;
height:90px;
opacity:0;
animation:bundleAppear 6s infinite;

}
@keyframes bundleAppear{
0%,50%{
opacity:0;
transform:scale(0);

}

55%{

opacity:1;

transform:scale(1);
}

90%{

opacity:1;
}
}
.bundle img{
position:absolute;
width:70px;
height:auto;
left:30px;
top:15px;
object-fit:contain;
opacity:0;
animation:paperLogo 6s infinite;

}
@keyframes paperLogo{
0%,55%{

opacity:0;

transform:scale(0.5);

}
60%{

opacity:1;

transform:scale(1);

}

90%{

opacity:1;

}

100%{

opacity:0;

}
}
/* PAPER SHEETS */
.sheet{

position:absolute;
width:130px;
height:80px;
background:white;
border:1px solid #ccc;
box-shadow:0 5px 10px gray;
}

.one{

top:20px;

transform:rotate(-6deg);

}
.two{

top:10px;

transform:rotate(5deg);

}

.three{
top:0;
transform:rotate(-2deg);

}
/* CLOUD */
.cloud{
position:absolute;
right:40px;
top:-20px;
font-size:120px;
color:#38bdf8;
animation:cloudMove 3s infinite;

}
@keyframes cloudMove{
50%{
transform:translateY(-20px);

}
}
/* MONITOR */

.monitor{

position:absolute;

right:40px;

top:120px;

width:250px;

opacity:0;

animation:monitorDrop 6s infinite;

}
/* SCREEN */

.screen{

width:250px;

height:150px;

background:white;

border:8px solid #1e293b;

border-radius:10px;

box-shadow:0 8px 15px gray;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;
}
/* LOGO INSIDE SCREEN */
.logo{


width:250px;


height:auto;


object-fit:contain;


animation:logoShow 6s infinite;

}
/* STAND */

.stand{


width:50px;

height:25px;


background:#1e293b;


margin:auto;


}
/* MONITOR DROP */
@keyframes monitorDrop{

0%,80%{

opacity:0;

transform:translateY(0);


}

85%{

opacity:1;


}
100%{

opacity:1;

transform:translateY(155px);

}

}
/* LOGO APPEAR */
@keyframes logoShow{

0%,85%{

opacity:0;

transform:scale(0.5);
}

90%{

opacity:1;

transform:scale(1);

}

100%{


opacity:1;
}
}
